<!-- 导航组件 -->
<nav class="navbar navbar-default navbar-inverse">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" [routerLink]="['']">Home</a>
          </div>
      
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a [routerLink]="" >About</a></li>
              <li><a [routerLink]="" >Contact</a></li>
              <li><a [routerLink]="" >Sitemap</a></li>
              <li><a [routerLink]="['bind']" >Bind</a></li>
              <li><a [routerLink]="['parent']" >parent</a></li>
            </ul>
          </div>
        </div>
      </nav>